<div class="row" uib-collapse="!project.commitsVisible">
    <div class="col-xs-12">
        <div class="commit-flap">
            <table class="table">
                <tr>
                    <td colspan="4">
                        <h3 ng-show="project.ABDifferences > 0">
                            {{project.ABDifferences}} Unmerged Commits
                                        <span class="label label-success">
                                            {{project.branches[0]}} <span class="glyphicon glyphicon-chevron-right"></span> {{project.branches[1]}}
                                        </span>
                        </h3>
                    </td>
                </tr>
                <tr commit-list-item="" ng-repeat="commit in project.ABCommits"></tr>
                <tr>
                    <td colspan="4">
                        <h3 ng-show="project.BCDifferences > 0">
                            {{project.BCDifferences}} Unmerged Commits
                                        <span class="label label-success">{{project.branches[1]}}
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                            {{project.branches[2]}}
                                        </span>
                        </h3>
                    </td>
                </tr>
                <tr commit-list-item="" ng-repeat="commit in project.BCCommits"></tr>
            </table>
        </div>
    </div>
</div>