<div class="row" uib-collapse="project.differences<=0&&birdsEyeCtrl.filterMergableProjects">
    <div class="col-xs-12">
        <div class="panel">
            <div class="row">
                <div class="col-xs-5">
                    <h4>
                        <span class="label big-number-label"
                              ng-class="{'label-default':project.differences<=0, 'label-success':project.differences>0}"
                              uib-tooltip="there is a total of {{project.differences}} unmerged commit(s) in this project"
                              tooltip-popup-delay='1000'>
                            {{project.differences}}
                        </span>
                        <a class="project-name" target="_blank" ng-href="{{project.web_url}}"
                           uib-tooltip="open {{project.name}} in GitLab"
                           tooltip-popup-delay='1000'>
                            {{project.name}}
                        </a>
                    </h4>
                </div>
                <div class="col-xs-7">
                    <a target="_blank" ng-href="{{project.web_url}}/tree/{{project.branches[0]}}">
                        {{project.branches[0]}}
                    </a>

                    <a href="#" class="branch-differences"
                       ng-class="{'branch-differences-merge-request':project.mergeRequestsAB>=1}"
                       ng-click="project.createMergeRequestAB()"
                       uib-tooltip="{{project.ABDifferences}} commits in {{project.branches[0]}} are not merged into {{project.branches[1]}}. click to create a merge request"
                       tooltip-popup-delay='1000'>
                        {{project.ABDifferences}}
                        <span class="glyphicon glyphicon-import merge-request-icon"></span>
                    </a>

                    <a target="_blank" ng-href="{{project.web_url}}/tree/{{project.branches[1]}}">
                        {{project.branches[1]}}
                    </a>

                    <a href="#" class="branch-differences"
                       ng-class="{'branch-differences-merge-request':project.mergeRequestsBC>=1}"
                       ng-click="project.createMergeRequestBC()"
                       uib-tooltip="{{project.BCDifferences}} commits in {{project.branches[1]}} are not merged into {{project.branches[2]}}. click to create a merge request"
                       tooltip-popup-delay='1000'>
                        {{project.BCDifferences}}
                        <span class="glyphicon glyphicon-import merge-request-icon"></span>
                    </a>

                    <a target="_blank" ng-href="{{project.web_url}}/tree/{{project.branches[2]}}">
                        {{project.branches[2]}}
                    </a>

                    <a class="side-link" target="_blank" ng-href="{{project.web_url}}/merge_requests"
                       uib-tooltip="show open merge requests in GitLab"
                       tooltip-popup-delay='1000'
                       ng-show="project.mergeRequestsAB>=1||project.mergeRequestsBC>=1">
                        <span class="glyphicon glyphicon-link"></span>
                        view open merge requests
                    </a>

                    <a ng-click="project.toggleCommitVisibility()" href="#" class="toggleIcon pull-right"
                       uib-tooltip="show / hide unmerged commits"
                       tooltip-popup-delay='1000'>
                        <span class="glyphicon"
                              ng-class="{
                                'glyphicon-menu-down': !project.commitsVisible,
                                'glyphicon-menu-up': project.commitsVisible
                              }">
                        </span>
                    </a>
                </div>
            </div>
            <commit-list></commit-list>
        </div>
    </div>
</div>